*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

main{
    width: 80%;
    margin: 0 auto;
    padding-top: 2rem;
}

/* First part of the main */

main>h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color: #e02d72;
}

main>p{
    text-align: center;
    margin-bottom: 3rem;
}

/* Card */

div.card p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    padding-left: 0.8rem;
}

div.card img{
    width: 6rem;
    vertical-align: middle;
    
}

div.card{
    background-color: black;
    min-width: 315px;
    width: calc((100% / 3) - 1rem);
    margin-right: 1rem;
}

span.name{
    font-size: 1.6rem;
    font-weight: 600;
}

span.role{
    font-size: 1.1rem;
    line-height: 2rem;
}

span.email{
    color: #6dcffd;
    font-size: 0.9rem;
}